# Dependencies
node_modules/
package-lock.json

# Environment files
.env

# Angular cache and build files
frontend-bytte-operaciones/.angular/
frontend-bytte-operaciones/dist/
frontend-bytte-operaciones/.nx/

# Documentation
frontend-bytte-operaciones/documentation/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
