<p-toast></p-toast>
<div class="flex justify-center items-center h-full ">
  <p-card header="Editar Cliente" styleClass="p-4 w-full max-w-md" [style]="{ 'max-width': '600px' }">
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
      <div class="flex flex-col gap-6">
        <div>
          <label for="name" class="block font-bold mb-3">Nombre</label>
          <p-iconfield>
            <p-inputicon class="pi pi-user" />
            <input pInputText id="name" formControlName="name" />
          </p-iconfield>
          <small *ngIf="editForm.get('name')?.invalid && editForm.get('name')?.touched" class="text-red-500">
            El nombre es requerido.
          </small>
        </div>

        <div>
          <label for="email" class="block font-bold mb-3">Email</label>
          <p-iconfield>
            <p-inputicon class="pi pi-envelope" />
            <input pInputText id="email" formControlName="email" />
          </p-iconfield>
          <small *ngIf="editForm.get('email')?.invalid && editForm.get('email')?.touched" class="text-red-500">
            <span *ngIf="editForm.get('email')?.errors?.['required']">El email es requerido.</span>
            <span *ngIf="editForm.get('email')?.errors?.['email']">Email inválido.</span>
          </small>
        </div>

        <div>
          <label for="mobile" class="block font-bold mb-3">Teléfono</label>
          <p-iconfield>
            <p-inputicon class="pi pi-phone" />
            <input pInputText id="mobile" formControlName="mobile" />
          </p-iconfield>
        </div>

        <div>
          <label for="direccion" class="block font-bold mb-3">Dirección</label>
          <p-iconfield>
            <p-inputicon class="pi pi-map-marker" />
            <input pInputText id="direccion" formControlName="direccion" />
          </p-iconfield>
        </div>

        <div>
          <label for="ciudad" class="block font-bold mb-3">Ciudad</label>
          <p-iconfield>
            <p-inputicon class="pi pi-building" />
            <input pInputText id="ciudad" formControlName="ciudad" />
          </p-iconfield>
        </div>

        <div>
          <label for="pais" class="block font-bold mb-3">País</label>
          <p-iconfield>
            <p-inputicon class="pi pi-globe" />
            <input pInputText id="pais" formControlName="pais" />
          </p-iconfield>
        </div>

        <div>
          <label for="departamento" class="block font-bold mb-3">Departamento</label>
          <p-iconfield>
            <p-inputicon class="pi pi-compass" />
            <input pInputText id="departamento" formControlName="departamento" />
          </p-iconfield>
        </div>
      </div>

      <div class="flex justify-end mt-4">
        <p-button label="Actualizar Cliente" type="submit" [disabled]="editForm.invalid"></p-button>
      </div>
    </form>
  </p-card>
</div>
